@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixin;

.page {
  padding-top: vars.$spacing-xxxl;
  padding-bottom: vars.$spacing-xxxl;
  background: vars.$color-bg-white;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media (max-width: 1100px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .list {
    grid-template-columns: 1fr;
  }
}
