@use "src/styles/variables" as var;
@use "src/styles/mixins" as mix;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  border-radius: var.$radius-medium;
  box-shadow: var.$shadow-light;
  padding: 1.5rem;
  background-color: var.$color-bg-light;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: var.$font-weight-bold;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &::placeholder {
    color: var.$color-medium;
    font-size: var.$font-size-card-text;
    font-weight: var.$font-weight-minimal;
  }
}

.formInput {
  padding: 0.5rem;
  border: var.$btn-border;
  border-radius: var.$radius-small;

  &:focus {
    outline: none;
    border-color: var.$color-primary;
    box-shadow: var.$shadow-input-focus;
  }

  &::placeholder {
    color: var.$color-medium;
    font-size: var.$font-size-card-text;
    font-weight: var.$font-weight-minimal;
  }
}

.formError {
  color: red;
  font-size: 0.9rem;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 1rem;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fileUploadDropzone {
  border: var.$dashed-border;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var.$color-medium;
  font-size: var.$font-size-card-text;
  font-weight: var.$font-weight-light;

  &:hover {
    background-color: #f5f5f5;
    border-color: #666;
  }
}

.fileUploadInput {
  display: none;
}

.fileUploadPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.fileUploadItem {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.fileUploadItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fileUploadItemRemove {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgb(0 0 0 / 60%);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fileUploadArea {
  border: var.$dashed-border;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: border-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
    border-color: #666;
  }
}

.fileUploadAreaText {
  margin: 0;
  font-size: var.$font-size-card-text;
  font-weight: var.$font-weight-light;
  color: var.$color-medium;
}

.fileUploadAreaFileList {
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
}

.fileUploadAreaFileList li {
  font-size: var.$font-size-card-title;
  color: var.$color-medium;
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
}
