.footer {
  height: 300px;
  background-color: var(--color-green);
  color: var(--color-black);
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      font-weight: bold;
    }
  }
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: 14px;
}
