@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.footer {
  display: flex;
  flex-direction: column;
  padding: 48px 30px 0;
  margin: 30px 20px;
  border-radius: 20px;
  background-color: vars.$color-bg-light;
  color: vars.$btn-primary-color;
  margin-top: auto;

  @media (width <= 800px) {
    padding: 20px 20px 0;
  }

  .mainSection {
    border-bottom: none;
    box-shadow: inset 0 -0.5px 0 rgba(vars.$color-border, 0.9);
    padding-bottom: 50px;

    .mainContent {
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;

      @media (width <= 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (width <= 920px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
      }

      .logoColumn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        
        .logo {
          margin-top: 0;
          margin-bottom: vars.$gap-xl;
        }
      }

      .infoRightMiniBlockDescription {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      .socialMediaImage {
        width: 20px;
        height: 20px;
      }

      .socialMediIcon {
        width: 100%;
        height: 100%;
      }

      .columnTitle {
        font-size: 20px;
        font-weight: 700;
        color: vars.$btn-primary-color;
        margin-bottom: vars.$gap-xl;
        margin-top: 0;
        line-height: 1.3;
      }

      .footerColumn {
        min-width: 110px;

        .footerLinks {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: vars.$gap-md;

          .footerLink {
            color: #151517;
            text-decoration: none;
            font-size: vars.$font-size-md;
            font-weight: 400;
            transition: vars.$transition-color;
            display: inline-block;
            line-height: 1.4;

            &:hover {
              color: #424242;
            }

            &:focus-visible {
              outline: vars.$border-width-medium solid #424242;
              outline-offset: vars.$border-width-medium;
            }
          }
        }
      }

      .subscribeColumn {
        min-width: 300px;

        @media (width < 500px) {
          min-width: auto;
        }
        .subscribeForm {
          .newsletterForm {
            padding: 0;
            background-color: transparent;
            border: none;
            box-shadow: none;
            backdrop-filter: none;
            border-radius: 0;
          }
        }
      }
    }
  }

  .copyrightSection {
    padding: 12px 0;
    border-top: none;
    box-shadow: inset 0 0.5px 0 rgba(vars.$color-border, 0.8);

    .copyrightContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: vars.$gap-xl;

      @media (max-width: vars.$breakpoint-mobile) {
        flex-direction: column;
        gap: vars.$gap-lg;
        text-align: center;
      }

      .copyrightText {
        color: vars.$color-light;
        font-size: vars.$font-size-sm;
        font-weight: 400;
        margin: 0;
        line-height: 1.5;

        @media (width <= 800px) {
          text-align: left;
        }
      }

      .socialIcons {
        display: flex;
        gap: 10px;
        @media (width <= 800px) {
          align-self: start;
        }

        .socialIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: vars.$icon-size-large;
          height: vars.$icon-size-large;
          background-color: transparent;
          color: vars.$color-medium;
          text-decoration: none;
          transition: vars.$transition-color, vars.$transition-transform;

          .icon {
            width: 45px;
            height: 30px;
            transition: vars.$transition-color;
            stroke-width: 1.4;
          }
        }
      }
    }
  }
}

.navigationLists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;

  @media (width <= 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= 400px) {
    grid-template-columns: 1fr;
  }
}

.leftCopyrightBlock {
  display: flex;
  max-width: 800px;
  flex-grow: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
