@use "./mixins" as mixin;
@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
