@use "./variables" as vars;

:root,
body {
  --font-family-main: "Manrope", sans-serif;
  --font-size-s: 18px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 20px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 25px;
  --font-line-l: 30px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 48px;
  --font-line-xl: 60px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 24px;
  --padding-xl: 32px;
  --button-radius: 10px;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #dadada;
  --color-green: #92c07e;
}
