* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
