.reviewCard {
  max-width: 540px;

  // height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  border-radius: 50%;
}

.titleBlock {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  font-weight: 500;
  font-size: 30px;
}

.flagImage {
  border-radius: 50%;
  height: 20px;
  margin-bottom: 2px;
}

.subtitle {
  margin-top: 24px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  font-style: italic;
}

.description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
