@use "src/styles/variables" as vars;

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.popularDestinationCard {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #2F53DE 100%);

}

.imageWrapper {
  position: relative;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* gradient size */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    #2F53DE 100%
  );
  pointer-events: none;
}

.overlayText {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 8px;
}