@use "src/styles/variables" as vars;

.wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  @media (width <= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width <= 660px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.popularDestinationCard {
  display: block;
  max-width: 230px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  justify-self: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgb(47 83 222 / 30%);
  }
}

.imageWrapper {
  position: relative;
  height: 300px;

  // width: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* gradient size */
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%) 70%,
    rgb(0 0 0 / 0%) 100%
  );
  pointer-events: none;
  transition: background 0.3s ease;
}

.popularDestinationCard:hover .imageWrapper::after {
  background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 70%, #2f53de 100%);
}

.overlayText {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 8px;
}
