@use "src/styles/variables" as vars;

.wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 660px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 460px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.popularDestinationCard {
  display: block;
  max-width: 230px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  justify-self: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 24px rgba(47, 83, 222, 0.3);
  }
}

.imageWrapper {
  position: relative;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* gradient size */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  transition: background 0.3s ease;
}

.popularDestinationCard:hover .imageWrapper::after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    #2F53DE 100%
  );
}

.overlayText {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 8px;
}