.wrap {
  padding: 40px 0 24px;
  display: grid;
  gap: 16px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin: 0 0 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 640px) {
  .title {
    font-size: 24px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
