@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.wrap {
  padding: 20px 0 24px;
  display: grid;
  gap: 16px;
  margin-bottom: 70px;
  max-width: 1530px;
  margin: auto;
}

.title {
  font-size: vars.$font-size-xl;
  font-weight: vars.$font-weight-extra-bold;
  line-height: 1.25;
  margin: 0 0 8px;
  color: vars.$color-dark;
}

.horizontal {
  display: flex;
  gap: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
  min-width: 354px;
  padding: 24px;
  border: 1px solid #2F53DE;
  border-radius: 20px;
  max-height: 490px;
}

.filtersLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 8px;
}

.locationInputBlock {
  border: 1px solid #2F53DE;
  display: flex;
  padding: 16px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.dropdownItem {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  border-bottom: 1px solid #D9D9D9;
  min-width: 220px;

  &:hover {
    background-color: #E9EEFF;
  }

  &.lastChild {
    border-bottom: none;
  }
}

.locationInputImg {
  padding-right: 6px;
}

.locationInput {
  border: none;
  flex-grow: 1;
}

.priceLabelBlock {
  display: flex;
  margin-top: 42px;
  margin-bottom: 24px;
}

.priceLabel {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
}

.price-range {
  width: 340px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  display: block;
  margin-bottom: 10px;
}

// start of range element
/* обёртка */
.rangeWrapper {
  position: relative;
  height: 30px;
}

/* базовый стиль */
.range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #d5d5d5;
  border-radius: 3px;
  position: absolute;
  pointer-events: none; /* предотвращаем захват событий для нижнего инпута */
}

/* активная синяя линия */
.rangeWrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 6px;
  background: #2b56f6;
  border-radius: 3px;
  z-index: 1;
}

/* бегунок */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto; /* бегунок снова кликабелен */
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  border: 2px solid #2b56f6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  border: 2px solid #2b56f6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  cursor: pointer;
}

/* подписи */
.labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}

.labels b {
  font-size: 12px;
  color: #3E3E3E;
}
// end of range element

.verticalContainer {
  display: flex;
  flex-direction: column;
}

.filtersHeader {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.filtersHeaderCenterToursAmount {
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  text-align: center;
}

.filtersHeaderCenterSub {
  font-weight: 400;
  font-size: 20px;
  text-align: center;

}



.grid {
  display: flex;
  flex-wrap: wrap;
  // grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

// @media (width: vars.$breakpoint-tablet) {
//   .grid {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: vars.$breakpoint-phone-sm) {
//   .title {
//     font-size: vars.$font-size-lg;
//   }

//   .grid {
//     grid-template-columns: 1fr;
//     gap: 16px;
//   }
// }
