@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.wrap {
  padding: 40px 0 24px;
  display: grid;
  gap: 16px;
  margin-bottom: 70px;
}

.title {
  font-size: vars.$font-size-xl;
  font-weight: vars.$font-weight-extra-bold;
  line-height: 1.25;
  margin: 0 0 8px;
  color: vars.$color-dark;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width: vars.$breakpoint-tablet) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: vars.$breakpoint-phone-sm) {
  .title {
    font-size: vars.$font-size-lg;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
