:global(.PhoneInput) {
    background-color: white;
    // Apply base styles to the main container
    // width: 300px;
    padding: 18px 21px;
    border-radius: 10px;
    font-size: 16px;
    // width: 100%;
}

// block with flag and select
:global(.PhoneInputCountry) {
    color: black;
}

:global(.PhoneInputCountrySelect) {
    z-index: 200;
}


// TODO: the issue with borders is not solved
:global(.PhoneInputInput) {
    border: none !important;

    &:active {
        border: none !important;
    }
    &:focus {
        border: none !important;
    }
    &:focus-visible {
        border: none !important;
    }
}

:global(.PhoneInput .PhoneInputInput-focus .PhoneInputInput) {
    border: none !important;
}