@use "../../styles/variables" as vars;

.articleCont {
  margin-top: 100px;
  display: flex;
  flex-direction: row;

  .textCont {
    margin-left: 50px;

    h2 {
      font-size: 42px;
      padding-bottom: 15px;
    }

    p {
      font-size: 20px;
    }

    .btnCont {
      padding-top: 100px;
      display: flex;
      justify-content: center;
      align-items: end;

      button {
        padding: 10px 60px;
        font-size: 20px;
        border-radius: 20px;
        background: inherit;
      }
    }
  }
}
