@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.article {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;

  @media (width <= 1024px) {
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
  }
}

.imageWrapper {
  flex: 1;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}

.content {
  flex: 1;

  h2 {
    font-size: clamp(24px, 3vw, 42px);
    padding-bottom: 15px;
  }

  p {
    font-size: clamp(16px, 1.6vw, 20px);
    line-height: 1.5;
  }
}

.buttonWrapper {
  padding-top: 40px;
  display: flex;
  justify-content: center;

  button {
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid currentcolor;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #84c489;
      color: #fff;
    }
  }
}
