services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-pt-general
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres-general:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d phototours_db -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  pt-general:
    build:
      context: .
      dockerfile: pt-general/Dockerfile
    container_name: pt-general
    env_file:
      - .env
    networks:
      - app-network
    expose:
      - "8000"
    depends_on:
      postgres-general:
        condition: service_healthy
  pt-web:
    build:
      context: .
      dockerfile: pt-web/Dockerfile
    container_name: pt-web
    env_file:
      - .env
    expose:
      - "5174"
    networks:
      - app-network

  gateway:
    image: nginx:1.24.0-alpine
    container_name: gateway
    ports:
      - "5173:80"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    env_file:
      - .env
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    networks:
      - app-network

volumes:
  postgres-general:
  grafana-data:

networks:
  app-network:
    driver: bridge
