services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-general
    ports:
      - "5432:5432"
    volumes:
      - postgres-general:/var/lib/postgresql/data
    env_file:
      - ./mw-server/.env
    networks:
      - app-network

  grafana:
    build:
      context: .
      dockerfile: ./grafana/Dockerfile
    container_name: grafana
    ports:
      - "9876:3000"
    env_file:
      - ./grafana/.env
    depends_on:
      - postgres-general
      - postgres-chat
      - postgres-storage
      - postgres-mail
      - postgres-survey
    networks:
      - app-network

  nginx:
    image: nginx:1.24.0-alpine
    container_name: nginx
    ports:
      - "5173:80"
    volumes:
      - ./gateway/local.nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres-general:
  postgres-chat:
  postgres-storage:
  postgres-survey:
  postgres-notification:
  postgres-mail:
  postgres-training:


networks:
  app-network:
    driver: bridge
