services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-pt-general
    ports:
      - "5432:5432"
    env_file:
      - ./pt-general/.env
    volumes:
      - postgres-general:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d phototours_db -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  nginx:
    image: nginx:1.24.0-alpine
    container_name: gateway
    ports:
      - "5173:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./gateway/local.nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network

  # grafana:
  #   image: grafana/grafana:11.5.2
  #   container_name: grafana
  #   env_file:
  #     - ./grafana/.env
  #   volumes:
  #     - grafana-data:/var/lib/grafana
  #     - ./grafana/grafana.ini:/etc/grafana/grafana.ini
  #   networks:
  #     - app-network

volumes:
  postgres-general:
  # grafana-data:

networks:
  app-network:
    driver: bridge
