services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-pt-general
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: phototours_db
    volumes:
      - postgres-general:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d phototours_db -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  pt-general:
    build:
      context: .
      dockerfile: pt-general/Dockerfile.local
    container_name: pt-general
    expose:
      - "8000"
    env_file:
      - ./pt-general/.env.docker
    networks:
      - app-network
    depends_on:
      postgres-general:
        condition: service_healthy
    restart: unless-stopped


  pt-web:
    build:
      context: .
      dockerfile: pt-web/Dockerfile.local
    container_name: pt-web
    environment:
      - VITE_API_BASE=/api/general
    volumes:
      - ./pt-web:/app/pt-web

    expose:
      - "5174"
    networks:
      - app-network

  nginx:
    image: nginx:1.24.0-alpine
    container_name: gateway
    ports:
      - "5173:80"
    volumes:
      - ./gateway/local.nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    restart: unless-stopped
    depends_on:
      - pt-general

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres-general:
  grafana-data:

networks:
  app-network:
    driver: bridge

