services:
  postgres-general:
    image: postgres:16.2-alpine
    container_name: postgres-pt-general
    environment:
      POSTGRES_DB: phototours
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-general:/var/lib/postgresql/data
      - ./postgres/postgres-general.init.sql:/docker-entrypoint-initdb.d/01-init.sql
    env_file:
      - ./pt-general/.env
    networks:
      - app-network

  grafana:
    build:
      context: .
      dockerfile: ./grafana/Dockerfile
    container_name: pt-grafana
    ports:
      - "9876:3000"
    env_file:
      - ./grafana/.env
    networks:
      - app-network

  nginx:
    image: nginx:1.24.0-alpine
    container_name: gateway
    ports:
      - "5173:80"
    volumes:
      - ./gateway/local.nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres-general:

networks:
  app-network:
    driver: bridge
