services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-pt-general
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: phototours_db
    volumes:
      - postgres-general:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d phototours_db -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  nginx:
    image: nginx:1.24.0-alpine
    container_name: gateway
    ports:
      - "5173:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./gateway/local.nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    #    ports:
    #      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    environment:
      - GF_SERVER_ROOT_URL=http://localhost:5173/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    #      - GF_SECURITY_ADMIN_USER=admin
    #      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres-general:
  grafana-data:

networks:
  app-network:
    driver: bridge
