@use "sass:color";
@import "src/styles/variables";

.search {
  display: flex;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;

  .input {
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    flex-grow: 1;
    color: var(--color-black);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--color-green);
    }

    &::placeholder {
      color: var(--color-green);
    }
  }

  .button {
    background-color: var(--color-green);
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    color: var(--color-white);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-white);
    }

    .icon {
      fill: var(--color-white);
    }
  }
}
