@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // margin: 115px 0;
  
  background-image: url("https://res.cloudinary.com/dxqcrv4gf/image/upload/v1774291714/tuscany-fall___IGP3048_Panorama_ret_84%D1%85183-200dpi_251-Edit_copy_iimlup_3_sajdnk.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  height: calc(100dvh - 60px);
  min-height: 500px;
  margin-bottom: 30px;
}

.content {
  flex-grow: 1;

  @include mixin.flex-center;
}

.notFoundContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.title {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
}

.subtitle {
  font-size: 45px;
  margin: 8px 0;
  color: #FFFFFF;
  text-align: center;
}

.description {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
  margin-bottom: 40px;
  color: #FFFFFF;
  text-align: center;
}

.button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #2f53de;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 160px;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #0e2ead;
  }
}
