@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;

  @include mixin.flex-center;
}

.notFoundContent {
  text-align: center;
  max-width: 400px;
}

.title {
  font-size: 96px;
  margin: 0;
  color: vars.$header-footer-color;
}

.subtitle {
  font-size: 32px;
  margin: 8px 0;
  color: vars.$header-footer-color;
}

.description {
  font-size: 20px;
  margin-bottom: 40px;
  color: vars.$header-footer-color;
}

.button {
  padding: 14px 24px;
  background: vars.$btn-primary-hover-bg;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #92c07f;
  }
}
