@use "src/styles/variables" as var;
@use "src/styles/mixins" as mix;

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;

  @include mix.flex-center;
}

.notFoundContent {
  text-align: center;
  max-width: 400px;
}

.title {
  font-size: 6rem;
  margin: 0;
  color: var.$header-footer-color;
}

.subtitle {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var.$header-footer-color;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  color: var.$header-footer-color;
}
