@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 115px 0px;
}

.content {
  flex-grow: 1;

  @include mixin.flex-center;
}

.notFoundContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.title {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  color: #2D46AA;
}

.subtitle {
  font-size: 45px;
  margin: 8px 0;
  color: #151517;
}

.description {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
  margin-bottom: 40px;
  color: vars.$header-footer-color;
}

.button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #2F53DE;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 160px;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #0E2EAD;
  }
}
