@use "../../styles/variables" as vars;

.tourSearchForm {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 35px auto;
  color: #000;
}

.verticalSeparator {
  border-left: 1px solid black;
  height: 47px;
}

.label {
  display: flex;
  gap: 8px
}

.location {
  padding: 10px;
  margin: 10px;
}

.currentValue {
  border: none;
  background: none;
  color: #949494;
}

.dates {
  padding: 10px;
  margin: 10px;
}

.groupSize {
  padding: 10px;
  margin: 10px;
}

.searchNowButton {
  margin: 12px 20px;
  color: #fff;
  background-color: #2F53DE;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}