@use "../../styles/variables" as vars;

.tourSearchForm {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 35px auto;
  color: #000;


  // оставлю только кнопку, все остальное скрываем
  @media (max-width: 830px) {
    background-color: transparent;

    > *:not(.button) {
      display: none;
    }
  }
}

.verticalSeparator {
  border-left: 1px solid black;
  height: 47px;
}

.label {
  display: flex;
  gap: 8px
}

.location {
  padding: 10px;
  margin: 10px;
}

.tourLocationItem {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  border-bottom: 1px solid #D9D9D9;
  min-width: 150px;
  max-width: 300px;

  &:hover {
    background-color: #E9EEFF;
  }

  &.lastChild {
    border-bottom: none;
  }
}

.currentValue {
  border: none;
  background: none;
  color: #949494;
}

.dates {
  padding: 10px;
  margin: 10px;
}

.groupSize {
  padding: 10px;
  margin: 10px;
}

.searchNowButton {
  margin: 12px 20px;
  color: #fff;
  background-color: #2F53DE;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #0E2EAD;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}