@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.heroSectionBg {
  background-image: url("/images/homeHero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px 30px 15px 30px;
  border-radius: 20px;
  padding: 20px;
}


.heroHeader {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.rightHeaderBlock {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

// gray overlay
.rightHeaderBlock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  // padding compensation
  margin: -5px -10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.leftHeaderLinks {
  margin-right: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.primaryHeaderLink {
  background: linear-gradient(101.01deg, #3E61ED -83.91%, #233787 167.82%);
  height: 30px;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.rightHeaderLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactUsDropdownTrigger {
  padding: 5px 10px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
}

.contactUsItem {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  border-bottom: 1px solid #D9D9D9;

  &:hover {
    background-color: #E9EEFF;
  }

  &.lastChild {
    border-bottom: none;
  }
}

.partners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 55px;
  background-color: #F8F8F8;
  padding: 36px 8px;
  margin: 15px 30px 0 15px;
  border-radius: 20px;
}

.blockWrapper {
  max-width: 1530px;
  padding: 0 20px;
  margin: auto;
}

.popularDestinationsTitle {
  margin: 45px auto 20px auto;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.topDestinationsSelectionTitle {
  font-size: 45px;
  margin: 70px 0 17px auto;
}

.topDestinationsSelectionSubTitle {
  font-size: 20px;
  line-height: 1.35;
  max-width: 644px;
  margin-bottom: 40px;
}

.wantMoreBlock {
  margin-top: 40px;
  background: linear-gradient(101.01deg, #3E61ED -83.91%, #233787 167.82%);
  color: #fff;
  padding: 20px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wantMoreHeader {
  font-weight: 700;
  font-size: 30px;
}

.wantMoreButton {
  font-weight: 700;
  font-size: 16px;
  padding: 19px 34px;
  border-radius: 10px;
  border: 1px solid #2F53DE;
  color: #2F53DE;

  &:hover {
    background-color: #0E2EAD;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}

.blogAndPhotographyGuides {
  max-width: 1490px;
  display: flex;
  margin-top: 70px;
  gap: 20px;
}

.blogAndPhotographyFirstContainer {
  min-width: 495px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F8F8F8;
  padding: 30px;
  border-radius: 20px;
}

.blogAndPhotographyTitle {
  font-weight: 700;
  font-size: 45px;

  i {
    font-weight: 300;
  }
}

.blogAndPhotographyText {
  font-weight: 400;
  font-size: 20px;
}

.blogAndPhotographyButton {
  margin: 12px 20px 12px 0;
  color: #000;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 16px;
  max-width: 160px;

  &:hover {
    background-color: #212121;
    color: #fff;
  }

  &:active {
    background-color: #fff;
    color: #000;
  }
}


.carouselContainer {
  min-width: 300px;
}

.reviewsTitle {
  font-size: 45px;
  margin: 70px 0 17px auto;
}

.reviewsSubTitle {
  font-size: 20px;
  line-height: 1.35;
  max-width: 644px;
  margin-bottom: 40px;
}

.faqBlock {
  margin-top: 40px;
  background: linear-gradient(101.01deg, #3E61ED -83.91%, #233787 167.82%);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqTitle {
  font-size: 45px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 25px;
}

.faqSubtitle {
  max-width: 490px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}

.accordions {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1490px;
  margin: 60px 0;

}

.accordion {
  flex: 1;
}

.feedBackBlock {
  background-image: url("/images/homeHero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px 30px 15px 30px;
  border-radius: 20px;
  padding: 20px;
}

.feedBackContent {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  color: #fff;
  align-items: center;
}

.feedBackTitle {
  font-weight: 700px;
  font-size: 37px;
  font-style: bold;
}

.feedBackDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  max-width: 650px;
  margin-top: 15px;
}

.feedBackForm {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px
}

.feedBackInput {
  padding: 18px 21px;
  border-radius: 10px;
  font-size: 16px;
  width: 360px;
}

.feedBackPhoneInput {
  width: 360px;
}
.feedBackButton {
  color: #fff;
  background-color: #2F53DE;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  width: auto;

  &:hover {
    background-color: #0E2EAD;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}

.privacyPolicyText {
}

.privacyLink {
  text-decoration: underline;
}