@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.homePage {
  width: 100%;
  min-height: 100vh;
}

.heroSectionBg {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("src/pages/homePage/assets/wide-hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgb(0 0 0 / 35%);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
}
