@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.heroSectionBg {
  background-image: url("public/images/homeHero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px 30px 15px 30px;
  border-radius: 20px;
  padding: 20px;
}


.heroHeader {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.rightHeaderBlock {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

// gray overlay
.rightHeaderBlock::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  // padding compensation
  margin: -5px -10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.leftHeaderLinks {
  margin-right: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.primaryHeaderLink {
  background: linear-gradient(101.01deg, #3E61ED -83.91%, #233787 167.82%);
  height: 30px;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.rightHeaderLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactUsDropdownTrigger {
  padding: 5px 10px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
}

.contactUsItem {
  display: flex;
  gap: 8px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #D9D9D9;

  &.lastChild {
    border-bottom: none;
  }
}