@use "../../styles/variables" as vars;

.homePage {
  width: 100%;
  min-height: 100vh;
}

.heroSectionBg {
  position: relative;
  width: 100%;
  height: 940px;
  background-image: url("src/pages/homePage/assets/wide-hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroSectionBg::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 200px;
  background: rgb(0 0 0 / 35%);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.heroInner {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sectionHeader {
  margin-top: 64px;
  margin-bottom: 24px;
}

.sectionTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  color: #111;
  margin: 0 0 8px;
}

.sectionSubtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b7280;
  margin: 0;
}

@media (width <= 1024px) {
  .heroSectionBg {
    height: 1180px;
  }

  .heroSectionBg::after {
    height: 370px;
  }

  .sectionHeader {
    margin-top: 48px;
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-size: 28px;
    line-height: 36px;
  }

  .sectionSubtitle {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (width <= 640px) {
  .heroSectionBg {
    height: 790px;
  }

  .heroSectionBg::after {
    content: none;
  }

  .sectionHeader {
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .sectionTitle {
    font-size: 24px;
    line-height: 32px;
  }

  .sectionSubtitle {
    font-size: 12px;
    line-height: 16px;
  }
}
