@use "../../styles/variables" as vars;

.homePage {
  width: 100%;
  min-height: 100vh;
}

.heroSectionBg {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url("src/pages/homePage/assets/wide-hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroSectionBg::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 200px;
  background: rgb(0 0 0 / 35%);
  backdrop-filter: blur(2px);
  z-index: 1;
}

@media (width <= 1024px) {
  .heroSectionBg {
    height: 1180px;
  }

  .heroSectionBg::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    height: 370px;
    background: rgb(0 0 0 / 35%);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
}

@media (width <= 640px) {
  .heroSectionBg {
    height: 790px;
  }

  .heroSectionBg::after {
    content: none;
  }
}
