@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.homePage {
  width: 100%;
  min-height: 100vh;
}

.heroSectionBg {
  position: relative;
  width: 100%;
  height: 940px;
  background-image: url("src/pages/homePage/assets/wide-hero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    height: 200px;
    background: rgb(0 0 0 / 35%);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
}

.heroInner {
  position: relative;
  z-index: 2;
  padding-top: vars.$spacing-xxl;
  padding-bottom: vars.$spacing-xxl;
}

.sectionHeader {
  margin-top: vars.$spacing-xxxxl;
  margin-bottom: vars.$spacing-xl;
}

.sectionTitle {
  font-weight: vars.$font-weight-bold;
  font-size: vars.$font-size-section-title;
  line-height: 1.1;
  letter-spacing: 0;
  color: vars.$color-dark;
  margin: 0 0 vars.$spacing-sm;
}

.sectionSubtitle {
  font-weight: vars.$font-weight-normal;
  font-size: vars.$font-size-sm;
  line-height: 1.3;
  color: vars.$header-footer-color;
  margin: 0;
}

@media (width <= #{vars.$breakpoint-mobile}) {
  .heroSectionBg {
    height: 790px;

    &::after {
      content: none;
    }
  }

  .heroInner {
    padding-top: vars.$spacing-xl;
    padding-bottom: vars.$spacing-xl;
  }

  .sectionHeader {
    margin-top: vars.$spacing-xxl;
    margin-bottom: vars.$spacing-lg;
  }

  .sectionTitle {
    font-size: vars.$font-size-xl;
    line-height: 1.2;
  }

  .sectionSubtitle {
    font-size: vars.$font-size-sm;
    line-height: 1.3;
  }
}
