@use "sass:color";
@import "src/styles/variables";

.form {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-black);
  }

  .formGroup {
    margin-bottom: 1.5rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid var(--color-grey);
      border-radius: 4px;
      font-size: 1rem;
      color: var(--color-black);

      &:focus {
        outline: 2px solid var(--color-green);
        border-color: var(--color-black);
      }
    }
  }

  .submitButton {
    width: 100%;
  }
}
