@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixin;

.wrapper {
  margin-bottom: 32px;

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="left"] {
    text-align: left;
  }
}

.sectionTitle {
  font-weight: vars.$font-weight-bold;
  font-size: vars.$font-size-section-title;
  line-height: 1.1;
  letter-spacing: 0;
  color: vars.$color-dark;
  margin: 60px 0 vars.$spacing-lg;
}

.sectionSubtitle {
  font-weight: vars.$font-weight-normal;
  font-size: vars.$font-size-sm;
  line-height: 1.3;
  color: vars.$header-footer-color;
  margin: 0 0 30px;
}
