@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #616161;
  font-weight: 100;

  &__container {
    max-width: 1620px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 10px;

    img {
      width: 240px;
    }
  }
}

.nav__menu {
  display: flex;
  gap: 50px;

  .nav__item {
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #323131;
    }
  }
}

.topbar__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;

  &__input {
    width: 38px;
    height: 35px;
    padding-right: 28px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background: #f5f5f5;
    font-size: 14px;
    color: transparent;
    transition:
      width 0.3s ease,
      padding 0.3s ease,
      color 0.3s ease;
    cursor: pointer;

    &::placeholder {
      color: transparent;
      transition: color 0.3s ease;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover &__input,
  &:focus-within &__input {
    width: 300px;
    color: #000;

    &::placeholder {
      color: #999;
    }
  }

  &__icon {
    position: absolute;
    right: 8px;
    color: #333;
    pointer-events: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  &:hover &__icon,
  &:focus-within &__icon {
    opacity: 1;
  }
}

// язык, валюта, пользователь
.dropdown {
  position: relative;

  &__btn {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &__menu {
    position: absolute;
    top: 120%;
    left: 0;
    margin-top: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 6px 0;
    min-width: 80px;
    z-index: 10;

    li {
      padding: 6px 12px;
      font-size: 14px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        color: #000;
      }
    }
  }
}

// корзина и профиль
.iconBtn {
  padding-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;

  &:hover {
    color: #000;

    // border: 1px solid #ccc;
    // padding: 6px 12px;
    // background: #f5f5f5;
    // border-radius: 16px;
  }

  svg {
    display: block;
  }
}
