@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  color: vars.$header-footer-color;
  font-weight: 100;

  .headerContainer {
    max-width: 1620px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerLogo {
    img {
      height: 45px;
      width: 180px;
    }
  }
}

.navMenu {
  display: flex;
  gap: 50px;

  .navItem {
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #323131;
    }
  }
}

.topbarRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchContainer {
  position: relative;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 38px;
  height: 35px;
  padding-left: 38px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background: #f5f5f5;
  font-size: 14px;
  color: transparent;
  transition:
    width 0.3s ease,
    padding 0.3s ease,
    color 0.3s ease;
  cursor: pointer;

  &::placeholder {
    color: transparent;
    transition: color 0.3s ease;
  }

  &:focus {
    outline: none;
  }
}

.searchWrapper:hover .searchInput,
.searchWrapper:focus-within .searchInput {
  width: 300px;
  color: #000;

  &::placeholder {
    color: #999;
  }
}

.searchIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  opacity: 0.6;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.searchWrapper:hover .searchIcon,
.searchWrapper:focus-within .searchIcon {
  opacity: 1;
}

.dropdown {
  position: relative;

  .dropdownBtn {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 120%;
    left: 0;
    margin-top: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 6px 0;
    min-width: 80px;
    z-index: 10;

    .dropdownOption {
      padding: 6px 12px;
      font-size: 14px;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        color: #000;
      }
    }
  }
}

.iconBtn {
  padding-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;

  &:hover {
    color: #000;
  }

  svg {
    display: block;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

// .topbarItemLanguage {}
// .topbarItemCurrency {}
// .topbarCart {}
// .topbarProfile {}
