@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.aboutUs {
  max-width: 1530px;
  display: flex;
  margin: auto;
  padding: 20px 20px 0;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.infoLeft {
  max-width: 720px;
  min-width: none;
}

.infoHeader {
  font-size: 45px;
  font-weight: 700;
}

.infoSubtitle {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 400;
  color: #38383f;
  margin-bottom: 20px;
}

.heroSectionBg {
  background-image: url("/images/homeHero.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20px;
}

.heroSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  text-align: center;
  font-size: 24px;

  @media (width <= 830px) {
    margin-bottom: auto;
  }
}

.italic {
  font-weight: 400;
}

.subtitle {
  margin-top: 15px;
  font-size: 20px;
  max-width: 680px;
  align-self: center;
}

.victorBlock {
  margin-top: 70px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  @media (width <= 660px) {
    margin-top: 20px;

    // flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.victorImageBlock {
  width: 550px;
  height: 500px;
  min-width: 330px;
  min-height: 300px;
  max-width: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.victorImage {
  width: 100%;
  height: 100%;
}

.victorInfoBlock {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  min-width: 260px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.victorSocial {
  display: flex;
  gap: 12px;
}

.victorTitle {
  font-size: 42px;
  font-style: bold;
  margin-top: 30px;
}

.victorDescription {
  margin-top: 30px;
}

.victorDescription2 {
  margin-top: 30px;
  font-style: italic;
}

.ourHistoryBlock {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 80px;

  @media (width <= 880px) {
    flex-direction: column;
    align-items: center;
  }
}

.ourHistoryLeft {
  display: flex;
  flex-direction: column;
  justify-content: end;

  > img {
    border-radius: 50%;
    overflow: hidden;
    min-width: 147px;
    max-width: 147px;
  }
}

.ourHistoryMain {
  max-width: 869px;
}

.ourHistoryTitle {
  margin-top: 40px;
  font-weight: 700;
  font-size: 45px;
  font-style: bold;
  text-align: center;
}

.ourHistoryDescription {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  margin-top: 30px;
}

.ourHistoryDescription2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}

.ourHistoryDescription3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: #707070;
  margin-top: 25px;
  margin-bottom: 40px;
}

.ourHistoryRight {
  display: flex;
  flex-direction: column;

  > img {
    border-radius: 50%;
    overflow: hidden;
    min-width: 147px;
    max-width: 147px;
  }
}

.whatMakesUsDifferent {
  max-width: 1530px;
  margin: 60px auto 0;
  position: relative;
  padding: 70px 0;
}

// gray overlay
.whatMakesUsDifferentPlaceholder {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  // it was hard to center this placeholder, so let's just make it super wide
  width: 200vw;
  height: 100%;
  background: #f0f0f0;
  z-index: -1;
}

.whatMakesUsDifferentTitle {
  font-size: 45px;
  font-style: bold;
  font-weight: 700;
}

.whatMakesUsDifferentCards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media (width <= 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 440px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.whatMakesUsDifferentCard {
}

.whatMakesUsDifferentCardImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #e5e5e5;
  border-radius: 16px;
}

.whatMakesUsDifferentCardImg {
}

.whatMakesUsDifferentCardTitle {
  margin-top: 29px;
  font-size: 25px;
  font-weight: 600;
}

.whatMakesUsDifferentCardDescription {
  margin-top: 11px;
  font-size: 17px;
  font-weight: 400;
}

.ourMission {
  height: 470px;
  width: 100vw;
  max-width: 2560px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("/images/aboutUsOurMission.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
}

// .ourMissionPlaceholder {
//   position: absolute;
//   max-width: 2560px;
//   top: 0;
//   left: 0;
//   // it was hard to center this placeholder, so let's just make it super wide
//   width: 100vw;
//   height: 100%;
//   background: #F0F0F0;
//   z-index: -3;

//   // background-color: red;
// }

.ourMissionContent {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
}

.ourMissionTitle {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  font-style: bold;
}

.ourMissionDescription {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.35;
  font-style: italic;
  color: #fff;
}

.ourValuesBlock {
  max-width: 1530px;
  margin: auto;
  display: flex;
  padding: 80px 20px 20px;
  justify-content: space-between;

  @media (width <= 1240px) {
    flex-direction: column;
  }
}

.ourValuesTitle {
  font-size: 45px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 40px;
}

.ourValuesCards {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(4, 1fr);

  @media (width <= 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width <= 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ourValuesCard {
  max-width: 190px;
}

.ourValuesCardTitle {
  font-size: 25px;
  font-weight: 600;
}

.ourValuesCardDescription {
}
