# Grafana Configuration
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin
GF_USERS_ALLOW_SIGN_UP=false
GF_SERVER_HTTP_PORT=3000
GF_SERVER_ROOT_URL=http://localhost:9876

# Database Configuration (если используется внешняя БД)
# GF_DATABASE_TYPE=postgres
# GF_DATABASE_HOST=postgres-general:5432
# GF_DATABASE_NAME=grafana
# GF_DATABASE_USER=grafana
# GF_DATABASE_PASSWORD=grafana123

# Logging
GF_LOG_LEVEL=info 