@use "src/styles/variables" as vars;

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: vars.$z-index-modal-high;
}

.modalContent {
  background-color: white;
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
}

.modalHeader {
  background-color: #2f53de;
  color: white;
  padding: 11px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}

.closeButton {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

.modalBody {
  // padding: 16px 0;
}
