@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.wrap {
  display: flex;
  gap: 20px;
  margin: 30px auto 0 auto;
  max-width: 1530px;
}

.leftColumn {
  flex: 1;
}

.title {
  margin-bottom: 20px;
  font-size: 30px;
}

.gallery {
  // max-width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.galleryImage {
  width: 100%;
  height: 500px;
}

.reviewsBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tagIcon {
  width: 19px;
  height: 19px;
}

.reviewsTag {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
  border-radius: 12px;
  font-size: 17px;
  background-color: #F8F8F8;
  margin-top: 30px;
  margin-bottom: 16px;
}

.reviewsBlockLeft {
  display: flex;
  gap: 10px;
}

.starsList {
  display: flex;
  align-items: center;
}

.starYellowImg {
  width: 23px;
  height: 23px;
}

.tourDescriptionBlock {
  display: flex;
  justify-content: start;
  gap: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.tourDescription {
  max-width: 580px;
}

.tourDescriptionTitle {
  margin-bottom: 18px;
}

.tourDescriptionDescription {
  max-width: 540px;
  font-size: 17px;
  line-height: 1.35;
  font-weight: 400;
}


.summaryTagsHorizontalPair {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.summaryTag {
  display: flex;
  gap: 10px;
  align-items: center;
}

.summaryTagRightPart {
  display: flex;
  flex-direction: column;
}

.summaryTagImg {
  width: 25px;
  height: 25px;
}

.summaryTagRightPartTitle {
  font-size: 14px;
  font-weight: 400;
}

.summaryTagRightPartDescription {
  font-size: 12px;
  font-weight: 200;
  color: #2F53DE;
}

.includedActivities {
  display: flex;
  justify-content: start;
  gap: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.included {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 540px;
}
.activities {
  display: flex;
  flex-direction: column;
  gap:20px;
}

.oneIncludedActivity {
  display: flex;
  align-items: center;
  gap: 10px
}

.faqTitle {
  font-weight: 600;
  font-size: 25px;
}

.calcBackStub {
  position: relative;
  width: 480px;
  margin-right: 20px;
  min-width: 480px;
}

.buyTravelBlock {
  position: sticky;
  top: 90px;
  right: 20px;
  border: 1px solid #2F53DE;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 32px;
}

.buyTravelBlockTitle {
  background-color: #2F53DE;
  color: white;
  padding: 11px 24px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.buyTravelLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  margin: 0 24px;
}

.butTravelInput {
  margin: 16px 24px;
  padding: 16px 20px;
  width: 432px;
  border-radius: 10px;
  border: 1px solid #2F53DE;
}

.locationInputBlock {
  border: 1px solid #2F53DE;
  display: flex;
  padding: 16px 10px;
  border-radius: 10px;
  margin: 8px 24px 16px 24px;
}

.dropdownItem {
  display: flex;
  gap: 8px;
  padding: 12px 10px;
  border-bottom: 1px solid #D9D9D9;
  min-width: 220px;

  &:hover {
    background-color: #E9EEFF;
  }

  &.lastChild {
    border-bottom: none;
  }
}

.locationInputImg {
  padding-right: 6px;
}

.locationInput {
  border: none;
  flex-grow: 1;
}

.personalizeHr {
  background-color: #2F53DE1A;
  display: flex;
  justify-content: space-between;
  padding: 9px;
}

.personalizeHrArrowsToLeft {
  rotate: 180deg;
}

.personalizationBlock {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-size: 14px;
}

.blueText {
  color: #2F53DE;
}

.buyTravelFooter {
  box-shadow: 0px 0px 4px 0px #00000040;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buyTravelFooterLeft {
  display: flex;
  flex-direction: column;
}

.buyTravelFooterLeftTop {
  font-size: 15px;
  font-weight: 300;
  color: #151517;
}

.boldPrice {
  font-weight: 700;
}

.buyTravelFooterLeftBottom {
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

.primaryButton {
  color: #fff;
  background-color: #2F53DE;
  padding: 14px 8px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #0E2EAD;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}
