@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.cardBest {
  &Title {
    font-size: 42px;
  }

  &Text {
    font-size: 20px;
    color: #555;
  }
}

.cardFull {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 40px 0;
  border-radius: 12px;

  .cardLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  .cardImg {
    display: block;
    width: 1040px;
    height: 600px;
    border-bottom: 1px solid #eee;
  }

  .cardTitle {
    font-size: 36px;
    font-weight: 600;
    padding: 15px 20px 5px;
  }

  .cardExcerpt {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 20px 20px;
    color: #555;
    text-align: justify;
  }
}

.cardBestie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
  border-radius: 10px;

  .cardLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  .cardImg {
    display: block;
    width: 500px;
    border-bottom: 1px solid #eee;
  }

  .cardTitle {
    font-size: 36px;
    font-weight: 600;
    padding: 15px 0;
  }

  .cardExcerpt {
    text-align: justify;
    width: 500px;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px 0;
    color: #555;
  }
}

.cardBtn {
  padding: 10px 70px;
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid currentcolor;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #84c489;
    color: #fff;
  }
}
