.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  gap: 16px;
}

.link {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.pict {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-height: 250px;
  border-radius: 25px;
}

.stars {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  background: #ffffff4a;
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 9px;
  backdrop-filter: blur(2px);
  display: flex;
  gap: 4px;
  align-items: center;
}

.starsAmount {
  font-size: 22px;
}

.reviewsBlock {
  display: flex;
  gap: 20px;
}

.reviewsTag {
  display: flex;
  gap: 4px;
  padding: 10px;
  border-radius: 12px;
  background-color: #f8f8f8;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.35;
  color: #111;
  margin: 0;
  letter-spacing: -3%;

  // max-height: 114px;
}

.description {
  height: 81px;
  display: -webkit-box;
  font-size: 17px;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 300;
  line-height: 1.35;
}

.priceBlock {
  font-weight: 700;
  font-size: 20px;
}

.buttonsBlock {
  display: flex;
  width: 80%;
}

.primaryButton {
  margin: 12px 20px 12px 0;
  color: #fff;
  background-color: #2f53de;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
  letter-spacing: -3%;

  &:hover {
    background-color: #0e2ead;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}

.secondaryButton {
  margin: 12px 20px 12px 0;
  color: #000;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
  letter-spacing: -3%;

  &:hover {
    background-color: #212121;
    color: #fff;
  }

  &:active {
    background-color: #fff;
    color: #000;
  }
}
