@import "src/styles/variables";

.dropdownMenuItem {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  user-select: none;
  background-color: #fff;
  color: #000;

  &:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &:hover,
  &:active {
    color: #000;
  }
}

.dropdownMenuItemSubTrigger {
  padding-right: 8px;
  &:not(:last-child) {
    border-bottom: none;
  }
}
