@use "sass:color";
@import "src/styles/variables";

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .content {
    padding: 1.5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-text-dark;
    margin: 0 0 0.5rem;
  }

  .location {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
  }

  .price {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-accent;
    margin: 1rem 0;
  }

  .button {
    display: block;
    width: 100%;
    background-color: $color-accent;
    color: #fff;
    padding: 0.75rem 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust($color-accent, $lightness: -10%);
    }
  }
}
