.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  gap: 10px;
  font-family: Onest, sans-serif;
}

.link {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.pict {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.stars {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  background: #ffffff4a;
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 9px;
  backdrop-filter: blur(2px);
  display: flex;
  gap: 4px;
  align-items: center;
}

.starsAmount {
  font-size: 22px;
}

.reviewsBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.horizontal {
  display: flex;
}

.tagIcon {
  width: 14px;
  height: 14px;
}

.reviewsTag {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  font-size: 12px;
  background-color: #f8f8f8;
}

.starsList {
  display: flex;
  align-items: center;
}

.starYellowImg {
  width: 16px;
  height: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.35;
  color: #111;
  margin: 0;

  // place reservation
  // height: 60px;
}

.startEndInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 48px;
}

.startEndInfoTag {
  display: flex;
  gap: 5px;
}

.startEndInfoIcon {
  width: 15px;
  height: 15px;
}

.startEndInfoDescription {
  display: flex;
  flex-direction: column;
  color: #2f53de;
  max-width: 90px;
}

.startEndInfoDescriptionTop {
  font-weight: 500;
  font-size: 12px;
}

.startEndInfoDescriptionBottom {
  font-weight: 200;
  font-size: 12px;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  -webkit-line-clamp: 3;
  line-height: 135%;
  font-weight: 300;
  font-style: normal;

  // leading-trim: none;
  letter-spacing: 0%;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceBlock {
  display: flex;
  flex-direction: column;
}

.priceBlockTop {
  font-weight: 400;
  font-size: 14px;
}

.priceBlockBottom {
  font-size: 12px;
  color: #606060;
  font-family: "DM Sans", sans-serif;
  line-height: 1.35;
}

.primaryButton {
  color: #fff;
  background-color: #2f53de;
  padding: 14px 8px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #0e2ead;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}
