.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  gap: 16px;
}

.link {
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.pict {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

.stars {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  background: #FFFFFF4A;
  backdrop-filter: blur(4.6px);
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 9px;
  backdrop-filter: blur(2px);
  display: flex;
  gap: 4px;
  align-items: center;
}

.starsAmount {
  font-size: 22px;
}

.reviewsBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.horizontal {
  display: flex;
}

.tagIcon {
  width: 14px;
  height: 14px;
}

.reviewsTag {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  font-size: 12px;
  background-color: #F8F8F8;
}

.starsList {
  display: flex;
  align-items: center;
}

.starYellowImg {
  width: 16px;
  height: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.35;
  color: #111;
  margin: 0;
}

.startEndInfo {
  display: flex;
  justify-content: space-between;
}

.startEndInfoTag {
  display: flex;
  gap: 5px;
}

.startEndInfoIcon {
  width: 15px;
  height: 15px;
}

.startEndInfoDescription {
  display: flex;
  flex-direction: column;
  color: #2F53DE;
}

.startEndInfoDescriptionTop {
  font-weight: 500;
  font-size: 12px;
}

.startEndInfoDescriptionBottom {
  font-weight: 200;
  font-size: 12px;
}


.description {
  margin-top: 10px;
  height: 81px;
  display: -webkit-box;
  font-size: 17px;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardFooter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceBlock {
  display: flex;
  flex-direction: column;
}

.priceBlockTop {
  font-weight: 400;
  font-size: 14px;
}

.priceBlockBottom {
  font-size: 12px;
  color: #606060;
}

.primaryButton {
  color: #fff;
  background-color: #2F53DE;
  padding: 14px 8px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #0E2EAD;
    color: #fff;
  }

  &:active {
    background-color: #092388;
  }
}
