@use "src/styles/variables";

.card {
  display: flex;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  overflow: hidden;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
  }

  .image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .content {
    padding: 1.5rem;
  }

  .date {
    font-size: 0.8rem;
    color: var(--color-grey);
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  .excerpt {
    font-size: 0.9rem;
    color: var(--color-grey);
    margin-bottom: 1rem;
  }

  .readMore {
    color: var(--color-green);
    text-decoration: none;
    font-weight: bold;
  }
}
