.wrap {
  background-color: #f0f0f0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 20px;
}

.reviewsSlider {
  position: relative;
  max-width: 1530px;
  margin: auto;
}

.arrow {
  position: absolute;
  top: 43%;
  z-index: 3;
  background: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0.8;

  span {
    font-size: 24px;
    line-height: 1;
  }
}

.arrowLeft {
  left: 0;
  transform: rotate(180deg) translateX(15px);
}

.arrowRight {
  right: 0;
  transform: translateX(15px);
}

.reviewSlide {
  // Cropping for rightmost image - this will handle the cropping effect
  .reviewCard {
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
