.page {
  max-width: 1530px;
  display: flex;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}

.page h1 {
  font-size: 45px;
  font-weight: 700;
}

.effectiveDate {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #38383f;
}

.page section {
  margin-top: 40px;
}

.page h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.page p {
  font-size: 20px;
  line-height: 1.35;
}

.page ul {
  margin-top: 15px;
  padding-left: 40px;
}

.page li {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contactInfo {
  list-style: none;
  padding-left: 0;
}
