@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.contactUs {
  max-width: 1530px;
  display: flex;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoLeft {
  max-width: 710px;
  min-width: none;
}

.infoHeader {
  font-size: 45px;
  font-weight: 700;
}

.infoSubtitle {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 400;
  max-width: 710px;
  color: #38383f;
  margin-bottom: 20px;
}

.infoRight {
  max-width: 660px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.infoRightMiniBlock {
  max-width: 320px;
  flex-basis: 320px;
  display: flex;
  flex-direction: column;
}

.infoRightMiniBlockTitle {
  font-weight: 500;
  font-size: 20px;
  color: #a4a4a4;
}

.infoRightMiniBlockDescription {
  display: flex;
  gap: 12px;
  color: #151517;
}

.socialMediaImage {
  margin-top: 16px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.socialMediIcon {
  width: 100%;
  height: 100%;;
}

.imageBlock {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 32 / 9;
  min-height: 300px;
  background-image: url("https://res.cloudinary.com/dxqcrv4gf/image/upload/v1771358154/contactUsHero_fvaiml.avif");
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
