@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.contactUs {
  max-width: 1530px;
  display: flex;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-top: 70px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoLeft {
  max-width: 460px;
  min-width: none;
}

.infoHeader {
  font-size: 45px;
  font-weight: 700;
}

.infoSubtitle {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 400;
  max-width: 390px;
  color: #38383f;
  margin-bottom: 20px;
}

.infoRight {
  max-width: 660px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.infoRightMiniBlock {
  max-width: 320px;
  flex-basis: 320px;
  display: flex;
  flex-direction: column;
}

.infoRightMiniBlockTitle {
  font-weight: 500;
  font-size: 20px;
  color: #a4a4a4;
}

.infoRightMiniBlockDescription {
  font-weight: 500;
  font-size: 20px;
  color: #151517;
}

.imageBlock {
  width: 100%;
  border-radius: 20px;
  height: 450px;
  background-image: url("/images/contactUsImage.avif");
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
