.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 16px rgb(0 0 0 / 8%);
  padding: 1.5rem;
}

input,
textarea,
select {
  padding: 0.5rem;
  font-size: 1rem;
}

.error {
  color: red;
}
