.heroSection {
  position: relative;
  z-index: 2;
}

.heroContent {
  padding-top: 50px;
  color: #fff;
  max-width: 980px;
}

.heroTitle {
  font-size: 64px;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.heroTitle span {
  display: block;
}

.heroDescription {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  text-shadow: 0 1px 2px rgb(0 0 0 / 35%);
}

.heroDescription span {
  display: block;
}

@media (width <= 1280px) {
  .heroTitle {
    font-size: 56px;
  }
}

@media (width <= 1120px) {
  .heroTitle {
    font-size: 50px;
  }
}

@media (width <= 1024px) {
  .heroContent {
    padding-top: 50px;
  }

  .heroTitle {
    font-size: 46px;
  }

  .heroDescription {
    font-size: 18px;
  }
}

@media (width <= 800px) {
  .heroTitle {
    font-size: 42px;
  }
}

@media (width <= 768px) {
  .heroTitle {
    font-size: 38px;
    line-height: 1.1;
  }
}

@media (width <= 640px) {
  .heroContent {
    padding-top: 70px;
    max-width: 560px;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 1.1;
  }

  .heroDescription {
    font-size: 16px;
  }
}
