.heroSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  text-align: center;
  font-size: 16px;

  @media (max-width: 830px) {
    margin-bottom: auto;
  }
}

.italic {
  font-weight: 400;
}

.subtitle {
  margin-top: 15px;
  font-size: 20px;
  max-width: 680px;
  align-self: center;
}