.heroSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  text-align: center;
  font-size: 16px;

  @media (width <=830px) {
    margin-bottom: auto;
  }
}

.heroTitle {
  max-width: 884px;
  margin: auto;
  letter-spacing: -3%;

  font-family: Onest;
  font-weight: 700;
  font-size: 37px;
  line-height: 1;
  letter-spacing: 0.97;
  text-align: center;
  
  @media (width <=1200px) {
    font-size: 34px;
  }
}

.italic {
  font-weight: 400;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;

  @media (width <=1200px) {
    font-size: 37px;
  }
}

.subtitle {
  margin-top: 15px;
  font-size: 20px;
  max-width: 760px;
  align-self: center;
}
