.heroSection {
  position: relative;
  z-index: 2;
}

.heroContent {
  padding-top: 120px;
  color: #fff;
}

.heroTitle {
  margin: 0 0 16px;
  font-size: 64px;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.heroTitle span {
  display: block;
}

.heroDescription {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  text-shadow: 0 1px 2px rgb(0 0 0 / 35%);
}

.heroDescription span {
  display: block;
}

@media (width <= 1024px) {
  .heroContent {
    padding-top: 90px;
  }

  .heroTitle {
    font-size: 48px;
  }

  .heroDescription {
    font-size: 18px;
  }
}

@media (width <= 640px) {
  .heroContent {
    padding-top: 70px;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 1.1;
  }

  .heroDescription {
    font-size: 16px;
  }
}
