.heroSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  text-align: center;
  font-size: 16px;

  @media (width <=830px) {
    margin-bottom: auto;
  }
}

.heroTitle {
  max-width: 800px;
  margin: auto;
  letter-spacing: -3%;
  font-size: 37px;
}

.italic {
  font-weight: 400;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.subtitle {
  margin-top: 15px;
  font-size: 20px;
  max-width: 760px;
  align-self: center;
}
