@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.heroSection {
  .heroContent {
    padding-top: 120px;
    color: white;
    height: 500px;

    .heroTitle {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    h1 span {
      display: block;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    p span {
      display: block;
    }
  }
}
