@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.wrap {
  margin: 0 auto;
}

.swiper {
  // padding: 0 25px;
}

.slide {
  // padding: 0 150px;
  height: auto;
}

.media {
  position: relative;
  overflow: hidden;
  padding-top: 66.66%;
  background: #f5f5f5;
  height: 460px;
  border-radius: 30px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgb(0 0 0 / 50%) 0%, transparent 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.slideTopRightIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.caption {
  h3 {
    font-weight: 600;
    font-size: 25px;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
  }
}

.captionOverlay {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  z-index: 2;

  // we can add opacity 0 to hide image content before hover
  opacity: 1;
  
  transform: translateY(8px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.card:hover {
  .captionOverlay {
    opacity: 1;
    transform: translateY(0);
  }

  .image {
    transform: scale(1.05);
  }

  .media::after {
    opacity: 1;
  }
}

.arrow {
  // we don't need arrows for now but probably it will be helpful in future
  visibility: hidden;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  z-index: 3;
  width: 35px;
  height: 80px;
  border-radius: 20px;
  border: 1px solid rgb(0 0 0 / 30%);
  background: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;

  span {
    font-size: 24px;
    line-height: 1;
    color: #333;
  }

  &:hover {
    background: #f8f8f8;
    border-color: rgb(0 0 0 / 50%);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }
}

.arrowLeft {
  left: -24px;
}

.arrowRight {
  right: -24px;
}

@media (width <= 1024px) {
  .media {
    // width: 200px;
    // height: 200px;
  }

  .image {
    // width: 200px;
    // height: 200px;
  }

  .arrow {
    width: 40px;
    height: 40px;

    span {
      font-size: 20px;
    }
  }

  .arrowLeft {
    left: -20px;
  }

  .arrowRight {
    right: -20px;
  }
}

@media (width <= 768px) {
  .wrap {
    padding-bottom: 40px;
  }

  .media {
    // height: 250px;
  }

  .captionOverlay {
    font-size: 16px;
  }

  .arrow {
    display: none;
  }
}
