@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.wrap {
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.title {
  padding: 60px 0 30px;

  h2 {
    font-size: 42px;
    font-weight: 700;
  }

  p {
    padding: 10px 0;
    font-size: 20px;
    opacity: 0.75;
  }
}

.image {
  width: 80%;
}

.captionBelow {
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.35;
  color: #111;
  transition: opacity 0.2s ease;
}

.captionOverlay {
  // position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  color: #111;
  font-size: 20px;
  line-height: 1.35;
  transform: translateY(8px);
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  pointer-events: none;
}

//   .media::after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     opacity: 0;
//     transition: opacity .35s ease;
//     pointer-events: none;
//   }

.media:hover .image {
  transform: scale(1.28);
  transition:
    transform 0.35s ease,
    filter 0.35s ease;
}

.media:hover::after {
  opacity: 1;
}

.media:hover + .captionBelow {
  opacity: 0;
}

//   .media:hover .captionOverlay {
//     opacity: 1;
//     transform: translateY(0);
//   }

.arrow {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  z-index: 3;
  width: 35px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid rgb(0 0 0 / 30%);
  background: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;

  span {
    font-size: 30px;
    line-height: 1;
  }

  &:hover {
    box-shadow: 0 10px 28px rgb(0 0 0 / 15%);
    border: 2px solid rgb(0 0 0 / 100%);
  }

  &:active {
    transform: translateY(-50%) scale(0.98);
  }
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}
