.Button {
  cursor: pointer;
  color: var(--color-black);
  border-radius: var(--button-radius);
  background: none;
  font: var(--font-s);
  border: none;

  &.size_bigGreen {
    width: 430px;
    height: 60px;
  }

  &.size_smallGreen {
    width: 290px;
    height: 40px;
  }

  &.outline {
    width: 247px;
    height: 60px;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    background: none;

    &:hover {
      background: var(--color-black);
      color: var(--color-white);
    }
  }

  &.green {
    background: var(--color-green);
    color: var(--color-black);
    border: none;

    &:hover {
      color: var(--color-white);
    }
  }

  &.grey {
    width: 230px;
    height: 40px;
    background: var(--color-grey);
    color: var(--color-black);
    border: none;

    &:hover {
      color: var(--color-white);
    }
  }

  &.size_s {
    font-size: var(--font-m);
  }

  &.size_m {
    font-size: var(--font-m);
  }

  &.size_l {
    font-size: var(--font-l);
  }

  &.square {
    width: 60px;
    height: 60px;
    padding: 0;
    border-radius: 50%;
    font-size: var(--font-l);
    line-height: var(--font-line-l);
  }
}
