@import "src/styles/variables";

.section {
  padding: 4rem 0;
  background-color: var(--color-white);

  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-black);
  }
}
