@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixin;

.form {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-xl;
  max-width: 600px;
  margin: vars.$spacing-xl auto;
  border-radius: vars.$radius-medium;
  box-shadow: vars.$shadow-light;
  padding: vars.$spacing-xl;
  background-color: vars.$color-bg-light;
}

.formTitle {
  font-size: vars.$font-size-xl;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-medium;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-md;
  font-size: vars.$font-size-sm;
  color: vars.$color-dark;
}

.formInput {
  padding: vars.$padding-input;
  border: vars.$btn-border;
  border-radius: vars.$radius-small;
  font-size: vars.$font-size-md;
  background: vars.$color-bg-white;

  &:focus {
    outline: none;
    border-color: vars.$color-primary;
    box-shadow: vars.$shadow-input-focus;
  }

  &::placeholder {
    color: vars.$color-medium;
    font-size: vars.$font-size-card-text;
    font-weight: vars.$font-weight-minimal;
  }
}

.formError {
  color: vars.$color-error;
  font-size: vars.$font-size-sm;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: vars.$spacing-xl;
  gap: vars.$gap-xl;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-xl;
}

.fileUploadDropzone {
  border: vars.$dashed-border;
  padding: vars.$spacing-lg;
  border-radius: vars.$radius-medium;

  @include mixin.flex-center;

  gap: vars.$gap-md;
  text-align: center;
  cursor: pointer;
  transition:
    border-color vars.$transition-normal,
    background-color vars.$transition-normal;
  color: vars.$color-medium;
  font-size: vars.$font-size-card-text;
  font-weight: vars.$font-weight-light;

  &:hover {
    background-color: vars.$btn-primary-hover-bg;
    border-color: vars.$color-medium;
  }
}

.fileUploadInput {
  display: none;
}

.fileUploadPreview {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$gap-md;
}

.fileUploadItem {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: vars.$radius-medium;
  overflow: hidden;
  border: vars.$border-width-thin dashed vars.$color-border;
  background: vars.$color-bg-white;
}

.fileUploadItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fileUploadItemRemove {
  position: absolute;
  top: 2px;
  right: 2px;
  background: vars.$color-dark;
  color: vars.$color-bg-white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fileUploadArea {
  border: vars.$dashed-border;
  border-radius: vars.$radius-medium;
  padding: vars.$spacing-lg;
  text-align: center;
  transition:
    border-color vars.$transition-normal,
    background-color vars.$transition-normal;
  cursor: pointer;

  &:hover {
    background-color: vars.$btn-primary-hover-bg;
    border-color: vars.$color-medium;
  }
}

.fileUploadAreaText {
  margin: 0;
  font-size: vars.$font-size-card-text;
  font-weight: vars.$font-weight-light;
  color: vars.$color-medium;
}

.fileUploadAreaFileList {
  margin-top: vars.$spacing-sm;
  list-style: none;
  padding: 0;

  li {
    font-size: vars.$font-size-card-title;
    color: vars.$color-medium;
  }
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
}
