@use "src/styles/variables" as var;
@use "src/styles/mixins" as mix;

.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: var.$radius-medium;
  display: flex;
  flex-direction: column;
  box-shadow: var.$shadow-light;
  background-color: var.$color-bg-light;

  .label {
    margin-top: 1rem;
    font-weight: var.$font-weight-light;
    font-size: var.$font-size-card-text;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .inputSelectText {
    margin-top: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: var.$radius-small;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;

    &:focus {
      outline: none;
      border-color: var.$color-primary;
      box-shadow: var.$shadow-input-focus;
    }
  }
}

// .materialsFieldset {
//   margin-top: 1.5rem;
// }

.materialsFieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.materialCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  background-color: #fff;
}

.inputText,
.inputSelect {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.95rem;

  &:focus {
    outline: none;
    border-color: var.$color-primary;
    box-shadow: var.$shadow-input-focus;
  }
}

.fileUpload {
  display: inline-block;
  padding: 0.5rem;
  border: 1px dashed #999;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  position: relative;
}

.fileUpload input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.materialLink {
  color: var.$color-primary;
  text-decoration: none;
  font-size: 0.85rem;
}

.removeButton,
.addButton {
  background-color: var.$btn-secondary-bg;
  color: var.$color-bg-white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: var.$radius-small;
  cursor: pointer;
  font-size: 0.85rem;
  align-self: flex-start;
}

.removeButton:hover,
.addButton:hover {
  opacity: 0.9;
}

.addButton {
  background-color: var.$color-primary;
  margin-top: 0.5rem;
}

.dropZone {
  border: var.$dashed-border;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: var.$radius-small;
  transition: border-color 0.2s;
}

.dropZoneText {
  color: #666;
  font-weight: var.$font-weight-light;
  font-size: var.$font-size-card-text;
}

.dropZone:hover {
  background-color: #f5f5f5;
  border-color: #666;
}

.hiddenFileInput {
  display: none;
}

.fileList {
  list-style: none;
  padding-left: 0;
}

.fileList li {
  margin-bottom: 4px;
}

.fileUploadPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.fileUploadItem {
  position: relative;
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: var.$dashed-border;
}

.fileUploadItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fileUploadItemRemove {
  position: absolute;
  top: 2px;
  right: 2px;
  background: var.$color-dark;
  color: var.$color-bg-white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn {
  width: 100%;
  border: none;
  cursor: pointer;
}

.previewCard {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
}

.previewIcon {
  width: 24px;
  height: 24px;
}

.previewTitle {
  font-size: 14px;
  color: #333;
}
