@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixin;

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  gap: 16px;
  font-family: Onest, sans-serif;
  text-decoration: none;
  color: inherit;
  border-radius: 25px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
  }
}

.pict {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
}

.img {
  width: 100%;
  aspect-ratio: 98/55;
  object-fit: cover;
  display: block;
  max-height: 250px;
  border-radius: 25px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 4px 4px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -2%;

  @media (width <= 900px) {
    font-size: 20px;
  }
}

.description {
  height: 68px;
  display: -webkit-box;
  font-weight: 400;
  font-style: regular;
  font-size: 17px;
  line-height: 135%;
  letter-spacing: 0%;
  overflow: hidden;
  position: relative;
  color: #151517;
  text-align: justify;

  @media (width <= 900px) {
    font-size: 16px;
  }
}

.description::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 35%;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 90%);
}
