@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixin;

.card {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: vars.$gap-xxl;
  align-items: center;
  padding: vars.$spacing-lg 0;
  border-bottom: vars.$border-width-thin solid vars.$color-border;
}

.text {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-lg;
}

.title {
  font-size: vars.$font-size-card-title;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-dark;
}

.excerpt {
  font-size: vars.$font-size-card-text;
  line-height: 1.5;
  color: vars.$color-light;
}

.pict {
  display: block;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: vars.$radius-large;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media (width <= 900px) {
  .card {
    grid-template-columns: 1fr;
  }

  .pict {
    height: 220px;
  }
}
