@use "../../styles/variables" as vars;

.container {
  // width: 100%;
  // max-width: vars.$container-width;
  // margin-inline: auto;
  // padding-inline: 24px;

  // @media (width <= 1024px) {
  //   padding-inline: 16px;
  // }
}
