@use "../../styles/mixins" as mixin;
@use "../../styles/variables" as vars;

.container {
  max-width: vars.$container-width;
  margin: 0 auto;
  width: 100%;

  @media (width <= 1024px) {
    max-width: 100%;
    padding: 0 16px;
  }

  @media (width <= 768px) {
    padding: 0 12px;
  }
}
