.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;

  @media (width <= 1024px) {
    max-width: 100%;
    padding: 0 16px;
  }

  @media (width <= 768px) {
    padding: 0 12px;
  }
}
